# Jakiels Module 4 Project

# Task 1 Series

In [1]:
import pandas as pd
grades = pd.Series([87, 100, 94])
grades

0     87
1    100
2     94
dtype: int64

In [2]:
pd.Series(98.6,range(3))

0    98.6
1    98.6
2    98.6
dtype: float64

In [3]:
grades[0]

87

In [4]:
grades.count()

3

In [5]:
grades.mean()

93.66666666666667

In [6]:
grades.min()

87

In [7]:
grades.max()

100

In [8]:
grades.std()

6.506407098647712

In [9]:
grades.describe()

count      3.000000
mean      93.666667
std        6.506407
min       87.000000
25%       90.500000
50%       94.000000
75%       97.000000
max      100.000000
dtype: float64

## Task 2 Series from Dictionary

In [10]:
grades = pd. Series ([87,100,94], index=['Wally','Eva','Sam'])
grades

Wally     87
Eva      100
Sam       94
dtype: int64

In [11]:
grades['Eva']

100

In [12]:
grades.Wally

87

In [13]:
grades.Eva

100

In [14]:
grades.values

array([ 87, 100,  94])

Self Check
Use Numpy random number genertor to create array that rps temsps 60-100
a. convert array into Series named temperatures and display it.
b. Determin lowest, highest, avg temps
c. Produce descriptive stats for the Series

In [15]:
import numpy as np
import pandas as pd

print('a.')
temps = np.random.randint(60,101,6)
temperatures = pd.Series(temps)
temperatures

a.

0    65
1    89
2    60
3    72
4    68
5    87
dtype: int64

In [16]:

print('b.')
temperatures.min()
temperatures.max()
temperatures.mean()

b.

73.5

In [17]:
print('c.')
temperatures.describe()

c.

count     6.000000
mean     73.500000
std      11.912179
min      60.000000
25%      65.750000
50%      70.000000
75%      83.250000
max      89.000000
dtype: float64