## Jakiel David
# Task 5 (Bonus)
2/6/23

Practice text example 8.13

In [78]:
import pandas as pd

In [79]:
zips = pd.Series ({'Brooklyn': '11216', 'Miami': '3310'})

In [80]:
zips

Brooklyn    11216
Miami        3310
dtype: object

In [81]:
zips.str.match(r'\d{5}')

Brooklyn     True
Miami       False
dtype: bool

In [82]:
cities = pd.Series(['Brooklyn, NY 11216', 'Miami, FL 33101'])

In [83]:
cities

0    Brooklyn, NY 11216
1       Miami, FL 33101
dtype: object

In [84]:
cities.str.contains(r' [A-Z]{2} ')

0    True
1    True
dtype: bool

## Reformating Your Data

In [85]:
contacts = [['Tom Brady ', 'demo1@goat.com', '5555555555'],
            ['Jayson Tatum',' demo1@celtics.com', '5555551234']]
contacts

[['Tom Brady ', 'demo1@goat.com', '5555555555'],
 ['Jayson Tatum', ' demo1@celtics.com', '5555551234']]

In [86]:
contactsdf = pd.DataFrame(contacts, columns=['Name', 'Email', 'Phone'])

In [87]:
contactsdf

           Name               Email       Phone
0    Tom Brady       demo1@goat.com  5555555555
1  Jayson Tatum   demo1@celtics.com  5555551234

In [88]:
import re

def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value

In [89]:
formatted_phone = contactsdf['Phone'].map(get_formatted_phone)

In [90]:
contactsdf['Phone'] = formatted_phone

contactsdf

           Name               Email         Phone
0    Tom Brady       demo1@goat.com  555-555-5555
1  Jayson Tatum   demo1@celtics.com  555-555-1234